<div class="form-group">
    <label for="element_label">Name</label>
    <input class="form-control" name="name" placeholder="Label"
           value="{{name}}">
</div>
<div class="form-group">
    <label for="element_text">Value</label>
    <div class="row">
        <div class="col-md-8">
            <input class="form-control" name="value" placeholder="Text"
                   value="{{value}}">
        </div>
        <div class="col-md-4"><insert name="variable-dropdown"></insert></div>
    </div>
</div>
