<div class="well">

    <select class="form-control element-type">
        <option value="empty"></option>
        <option value="label">Label</option>
        <option value="text">Text</option>
        <option value="list">List</option>
        <option value="password">Password</option>
    </select>

    <hr>

    <div class="element-content"></div>

    <button class="btn btn-danger" id="element_remove">Remove</button>
    <button class="btn btn-warning" id="element_discard">Discard</button>
    <button class="btn btn-success pull-right" id="element_save">Save</button>

</div>
