<div class="form-inline">
    <div class="form-group">
        <label for="label">Label</label>
        <input type="text" class="form-control" id="label" placeholder="Label">
    </div>
</div>

<hr>

<select class="form-control" id="activity_type">
    <option value="human">Human Interaction</option>
    <option disabled value="web">Web Service</option>
    <option disabled value="unspecified">Unspecified</option>
    <option value="other">Other (Expert Only)</option>
</select>

<hr>

<div class="list-group"></div> 

<a class="btn btn-success" href="#" id="add">
    <span class="glyphicon glyphicon-plus"></span> Add new Element
</a>
