<div id="tooltip_create" class="workspace-tooltip">
    <div class="tooltip-row">
        <a rel="Activity"><img src="svg/activity.svg" /></a>
    </div>
    <div class="tooltip-row">
        <span id="btn_start">
            <a rel="Start"><img src="svg/start.svg" /></a>
        </span>
        <span id="btn_end"><a rel="End"><img src="svg/end.svg" /></a></span>
    </div>
    <div class="tooltip-row">
        <a rel="Split"><img src="svg/split.svg" /></a>
        <a rel="Join"><img src="svg/join.svg" /></a>
    </div>
</div>

<div id="tooltip_edit" class="workspace-tooltip">
    <a rel="remove"><img src="svg/cross.svg" /></a>
    <span id="btn_edit">
        <a rel="edit"><img src="svg/edit.svg" /></a>
    </span>
    <span id="btn_connect">
        <a rel="connect"><img src="svg/arrow.svg" /></a>
    </span>
</div>

<div id="board"></div>

<insert name="dialogue"></insert>
