<div class="well">

<select class="form-control" id="activity_type">
    <option value="label">Label</option>
    <option value="input">Input</option>
</select>

<hr>

<div class="form-group">
    <label for="element_label">Label</label>
    <input class="form-control" id="element_label" placeholder="Label">
</div>
<div class="form-group">
    <label for="element_text">Text</label>
    <input class="form-control" id="element_text" placeholder="Text">
</div>
<div class="form-group">
    <label for="element_value">Value</label>
    <input class="form-control" id="element_value" placeholder="Value">
</div>

<button type="button" class="btn btn-danger">Remove</button>
<button type="button" class="btn btn-warning">Discard</button>
<button type="button" class="btn btn-success pull-right">Save</button>

</div>
