<div class="form-inline">
    <div class="form-group">
        <label for="label">Label</label>
        <input type="text" class="form-control" id="label" placeholder="Label">
    </div>
</div>

<hr>

<select class="form-control">
    <option>Human Interaction</option>
    <option disabled>Web Service</option>
    <option disabled>Unspecified</option>
    <option>Other (Expert Only)</option>
</select>

<hr>

<div class="list-group">
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Test Element #1</h4>
        <p class="list-group-item-text">Element Description #1</p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Test Element #2</h4>
        <p class="list-group-item-text">Element Description #2</p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Test Element #3</h4>
        <p class="list-group-item-text">Element Description #3</p>
    </a>
</div>

<a class="btn btn-success" href="#">
    <span class="glyphicon glyphicon-plus"></span> Add new Element
</a>
