<div class="form-inline">
    <div class="form-group">
        <label for="label">Label</label>
        <input type="text" class="form-control" id="label" placeholder="Label">
    </div>
</div>

<hr>

<div class="btn-group" role="group">
    <button type="button" class="btn btn-default" value="and" min="2" max="1">
        AND</button>
    <button type="button" class="btn btn-default" value="or" min="1" max="2">
        OR</button>
    <button type="button" class="btn btn-default" value="xor" min="1" max="1">
        XOR</button>
    <button type="button" class="btn btn-default" value="other" checked>
        Other</button>
</div>

<div id="gate_controls">
    <hr>
    <div class="form-inline">
        <div class="form-group">
            <label for="gate_in">In</label>
            <input type="text" class="form-control" id="gate_in">
        </div>
        <div class="form-group">
            <label for="gate_out">Out</label>
            <input type="email" class="form-control" id="gate_out">
        </div>
    </div>
</div>
