<a href="#model_{{handle}}" role="button" class="list-group-item"
   data-toggle="collapse" aria-expanded="false" handle="{{handle}}">
    <span class="item-title">{{name}}</span>
    <span class="clickable pull-right glyphicon glyphicon-pencil edit"></span>
</a>
<div class="panel-collapse collapse" id="model_{{handle}}">
    <div class="panel-body">
        <div class="model-preview"></div>
        <button class="btn btn-default model-edit" handle="{{handle}}">
            Edit
        </button>
    </div>
</div>
