<a href="#model_{{handle}}" class="list-group-item" handle="{{handle}}">
    <span class="item-title">{{name}}</span>
    <span class="clickable glyphicon glyphicon-pencil rename"></span>
    <span class="clickable pull-right glyphicon glyphicon-cog view"></span>
</a>
<div class="panel-collapse collapse" id="model_{{handle}}" handle="{{handle}}">
    <div class="panel-body">
        <div class="model-preview"></div>
        <button class="btn btn-default model-clone" handle="{{handle}}">
            Clone
        </button>
        <button class="btn btn-danger model-delete pull-right"
                handle="{{handle}}">
            Delete
        </button>
    </div>
</div>
