<ul class="nav navbar-nav navbar-right">
    <li id="autoalign" class="hidden hidden-auth" show-page="workspace">
        <a href="#">
            <span class="glyphicon glyphicon-sort-by-attributes"></span>
            Auto-Align
        </a>
    </li>
    <li class="hidden hidden-guest">
        <button class="btn btn-default navbar-btn" data-toggle="modal"
                data-target="#dialogue_auth">Login</button>
    </li>
    <li class="hidden hidden-auth">
        <a href="" class="dropdown-toggle" data-toggle="dropdown"
           role="button" aria-haspopup="true" aria-expanded="false">
            <span id="username">Username</span> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#about" class="a_content">About</a></li>
            <li><a href="#" target="_blank">Open Viewer</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" id="btn_logout">Logout</a></li>
        </ul>
    </li>
</ul>
